body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.hidden {
  width: 80px;
}

.App {
  text-align: center;
}

.login {
  text-align: center;
}

.login-btn {
  margin-left: 2%;
  margin-right: 2%;
}

.new-user-btn {
  margin-left: 2%;
  margin-right: 2%;
}

.new-task-btn {
  margin-left: 2%;
  margin-right: 2%;
}

.card {
  text-align: center;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

